doctype html 
html 
    head 
        title ERROR 
        style 
            include ../public/main.css 
    
    body
        div.not-found-wrapper
            div.body
                div.error ERROR
                div.error-message=data
                button 
                    a(href="/") Return Home
